{% extends "master.html" %}
{% load static %}


{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}"> 

{% endblock %}


{% block contenido %}
<div class="container">
    <h2 class="bg-warning rounded-pill text-center">{{ item }} : {{title}}</h2> 
    
    <div id="section-user" class="p-2">
        <div class="row">
            <div class="col align-self-end">
                <a href="/{{ item|lower }}/list" >
                    <button class='btn btn-dark' type="button" style='width:20%'>Volver al Listado</button></a>
            
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-12">
                <div class="row justify-content-between align-items-center">
                    <div class="col-5">
                        <div class="row justify-content-start align-items-center">
                        
                            <div class="d-flex justify-content-md-start justify-content-center col-md-6 col-12 py-3">
                                <img id="cinema_photo" style="width: 350px; height: 500px; object-fit: cover; border-radius: 30px;" alt="{{ object.imagen }}" src="{% if object.imagen %}  ../../{{object.imagen}}{% else %}{% static 'img/img-not-found.svg' %}{% endif %}"/>
        
                            </div>

                            <div class="links row">
                                <div class='col-6 alig-items-center' >
                                    <a href="/{{item|lower}}/{{object.id}}/update" style='text-decoration:none; color:white'>
                                        <button class='btn btn-dark'   type="button"  >
                                        <i class="bi bi-pencil"></i> Editar
                                        </button>
                                    </a>                              
                                </div>

                                <div class='col-6 alig-items-center' >
                                    <a href="/{{item|lower}}/{{object.id}}/delete" style='text-decoration:none; color:white'>
                                        <button class='btn btn-dark'   type="button"  >
                                            <i class="bi bi-trash"></i> Eliminar
                                        </button>
                                    </a>                              
                                </div>
                            </div>
        
                        </div>
                    </div>
        
                    <div style=""class="col-6 ">
                        <div class='row rounded border border-dark p-3' >
                            <div class="row"><h3>Nombre</h3><p>{{object.nombre}}</p></div>
                            <div class="row"><h3>Descripcion</h3><p>{{object.descripcion}}</p></div>
                            <div class="row"><h3>Precio</h3><p>{{object.precio}} €</p></div>
                            {%if item == 'Ropa' %}
                            <div class="row" ><h3>Talla</h3><p>{{object.talla}} </p></div>
                            <div class="row"><h3>Marca</h3><p>{{object.marca}} </p></div>
                            <div class="row"><h3>Color</h3><p>{{object.color}} </p></div>
                            <div class="row"><h3>Tipo</h3><p>{{object.tipoRopa}} </p></div>

                            {%endif%}
                            {%if item == 'Poster' %}
                            <div class="row"><h3>Artista</h3><p>{{object.artista}} </p></div>
                            <div class="row"><h3>Tama&ntildeo</h3><p>{{object.tamano}} </p></div>
                            <div class="row"><h3>Tipo</h3><p>{{object.tipo}} </p></div>

                            {%endif%}
                            {%if item == 'Taza' %}
                            <div class="row"><h3>Color</h3><p>{{object.color}} </p></div>
                            <div class="row"><h3>Capacidad</h3><p>{{object.capacidad}} </p></div>
                            <div class="row"><h3>Material</h3><p>{{object.material}} </p></div>
                            <div class="row"><h3>Artista</h3><p>{{object.artista}} </p></div>

                            {%endif%}
                            {%if item == 'Accesorio' %}
                            <div class="row"><h3>Color</h3><p>{{object.color}} </p></div>
                            <div class="row"><h3>Tama&ntildeo</h3><p>{{object.tamano}} </p></div>
                            <div class="row"><h3>Material</h3><p>{{object.material}} </p></div>
                            <div class="row"><h3>Artista</h3><p>{{object.artista}} </p></div>

                            {%endif%}
                        </div>
                    </div>
                    <div class="col-1"></div>
        
                    
                </div>
                    
                    

            </div>

        
        </div>
    
    

    </div>

    <div class='container'>
        <h5 class="bg-warning rounded-pill text-center">Peliculas</h5> 
        <div class="rounded overflow-auto border border-2 container" style="height: 150px;"> 
            {% for row in peliculas %}
            <div class=' row justify-content-center' >
                <div class='rounded border border-dark mb-3 py-2 col-12' style='width:80%'>
                    <div class='row'>
                        <div class='col-9 alig-items-center'>
                            <h5><strong>{{row.titulo}}</strong></h5>

                        </div>
                        <div class='col-2 alig-items-center' >
                            <a href="/pelicula/{{row.idPelicula}}/details" style='text-decoration:none; color:white'>
                                <button class='btn btn-dark'   type="button"  >
                                <i class="bi bi-info-circle"></i> Detalles
                                </button>
                            </a>
                                                        
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h5 class="bg-warning rounded-pill text-center">Categorias</h5> 
        <div class=" rounded d-flex flex-wrap overflow-auto border border-2 justify-content-around align-content-around" style="height: 150px;">
            {% for row in categorias%}
            
                <div class='rounded border border-dark mb-3 py-2 row' >
                    <div class='col-6 alig-items-center'>
                        <h5><strong>{{row.nombre}}</strong></h5>

                    </div>
                    <div class='col-6 align-items-center' >
                        <a href="/categoria/{{row.idCategoria}}/details" style='text-decoration:none; color:white'>
                            <button class='btn btn-dark'   type="button"  >
                               <i class="bi bi-info-circle"></i>Detalles
                            </button>
                        </a>
                                                    
                    </div>
              
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
