{% extends "master.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/button.css' %}">{% endblock %}

{% block contenido %} 
<div class="container">
    <h2 class="bg-warning rounded-pill text-center">Lista de {{title}}</h2>
    

<div class="row h-100 my-4">
    <div class="col align-self-end">
        <a href="/{{ item }}/create" >
            <button class='btn btn-dark'   type="button" style='width:10%'>
                    <i class="bi me-2 bi-plus-lg"></i>A&ntilde;adir</button></a>
    
    </div>

</div>


<!-- CARDS -->
<div class="row h-100 mb-4">
    <div class="col-12">
        <div id="id-cardsDiv" class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in objects %}
                {% include "card.html" with item=product  merchan=item%}
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}