{% extends "master.html" %}
{% load static %}


{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}"> 

{% endblock %}


{% block contenido %}


<div class='container'>
    <h2 class="bg-warning rounded-pill text-center">Categorias</h2>
    <div class="rounded d-flex flex-wrap overflow-auto border border-2 justify-content-around align-content-around" style="height: 700px;">
        {% for row in objects%}
        
            <div class='rounded border border-dark mb-3 py-2 row' style='width:400px !important ; margin-top:20px;' >
                
                <div class='col-8 alig-items-center'>
                    <h5><strong>{{row.nombre}}</strong></h5>

                </div>
                <div class='col-4 align-items-center' >
                    <a href="/categoria/{{row.idCategoria}}/details" style='text-decoration:none; color:white'>
                        <button class='btn btn-dark'   type="button"  >
                           <i class="bi bi-info-circle"></i>Detalles
                        </button>
                    </a>
                                                
                </div>
          
        </div>
        {% endfor %}
    </div>      
</div>
{% endblock%}