{% load static %} 

<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" />
        <script src="{{STATIC_URL}}js/bootstrap.bundle.js"></script>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Inicio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/populate">Poblar Base de Datos - Acceso Restringido</a></li>
                            <li><a class="dropdown-item" href="/cargarsr">Cargar el sistema de recomendación</a></li>
                            <li><a class="dropdown-item" href="/index.html">Sobre</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Listados
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/ocupaciones_usuarios">Lista de Usuarios</a></li>
                            <li><a class="dropdown-item" href="/mejores_peliculas/1">Mejores Pel&iacute;culas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            B&uacute;squedas
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/busqueda_peliculas">Buscar Pel&iacute;culas</a></li>
                            <li><a class="dropdown-item" href="/puntuaciones_usuario">Buscar Usuario</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recomendaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/recomendar">Recomendar pel&iacute;culas a usuario</a></li>
                            <li><a class="dropdown-item" href="/recomendarD">Recomendar pel&iacute;culas no puntuadas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
	
    <h1 class="my-3">EJERCICIO DE DJANGO - MOVIELENS 100K</h1>
    <hr>
 		
	{% block contenido %} {% endblock %}
  </body>
</html>