{% extends "master.html" %}
{% load static %}


{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}"> 

{% endblock %}


{% block contenido %}
<div class="container">
    <h2 class="bg-warning rounded-pill text-center"> {{title}}</h2> 
    
    <div id="section-user" class="p-2">
        <div class="row">
            <div class="col align-self-end">
                <a href="/pelicula/list" >
                    <button class='btn btn-dark'   type="button" style='width:20%'>Volver al Listado</button></a>
            
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-4">
                <div class="row justify-content-start align-items-center">
                
                    <div class="d-flex justify-content-md-start justify-content-center col-md-6 col-12 py-3">
                        <img id="cinema_photo" style="width: 250px; height: 400px; object-fit: cover; border-radius: 30px;" alt="{{ item.imagen }}" src="/static/images_cinema/{{ title }}/Image_1.jpg" />

                    </div>

                </div>
            </div>

            <div style=""class="col-6 ">
                <div class='row rounded border border-dark p-3' >
                    <div class="row"><h3>Título</h3><p>{{title}}</p></div>
                    <div class="row"><h3>Fecha de Estreno</h3><p>{{object.fechaEstreno}}</p></div>
                    <div class="row"><h3>Valoración en Imdb</h3><p><a href="{{ object.imdbUrl }}">{{object.imdbUrl}}</a></p></div>
                </div>
            </div>
            <div class="col-2"></div>

            
        </div>
    </div>    
    
    <div class='container'>
        <h5 class="bg-warning rounded-pill text-center">Categorias</h5> 
        <div class="rounded d-flex flex-wrap overflow-auto border border-2 justify-content-around align-content-around" style="height: 150px;">
            {% for row in categorias%}
            
                <div class='rounded border border-dark mb-3 py-2 row' >
                    <div class='col-6 alig-items-center'>
                        <h5><strong>{{row.nombre}}</strong></h5>

                    </div>
                    <div class='col-6 align-items-center' >
                        <a href="/categoria/{{row.idCategoria}}/details" style='text-decoration:none; color:white'>
                            <button class='btn btn-dark'   type="button"  >
                               <i class="bi bi-info-circle"></i> Detalles
                            </button>
                        </a>
                                                    
                    </div>
              
                </div>
            {% endfor %}
        </div>
        <h5 class="bg-warning rounded-pill text-center">Merchandising</h5> 
        <div class="row rounded overflow-auto border border-2 justify-content-around " style="height: 300px; margin-bottom:20px">
            
            {% for row in merchandising%}
            
                <div class='rounded border border-dark mb-3 py-2 row' style='width:400px !important ; margin-top:30px;' >
                    <div class="card-img-col col-4">
               
                        <img src="{% if row.imagen %}  ../../{{row.imagen}}{% else %}{% static 'img/img-not-found.svg' %}{% endif %}" class="card-img-top" alt="{{item.nombre}}">
                    </div>
                    <div class='col-4 alig-items-center'>
                        <h5><strong>{{row.nombre}}</strong></h5>
                        <h7>Precio: {{row.precio}} €</h7>
                        
                    </div>
                    <div class='col-4 alig-items-center'>
                        
                        <a href="/item/{{row.id}}/details" style='text-decoration:none; color:white'>
                            <button class='btn btn-dark'   type="button"  >
                               <i class="bi bi-info-circle"></i> Detalles
                            </button>
                        </a>
                    </div>
              
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
